# Python
__pycache__/
*.pyc

# Virtualenv
.venv/

# Environment variables
.env

# Database local
*.sqlite3

# Static / media
media/
staticfiles/

# OS / lixo
.DS_Store
Thumbs.db

*.log
__pycache__/
*.pyc