--
-- PostgreSQL database dump
--

\restrict i6QQdgg8Nk1NvZC9LtIYxPBtY35zsXGMpCr2Xj6RK896LbmH2XPy7w1u7mFamld

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: descricoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.descricoes (
    id integer NOT NULL,
    descricao text NOT NULL
);


ALTER TABLE public.descricoes OWNER TO postgres;

--
-- Name: descricoes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.descricoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.descricoes_id_seq OWNER TO postgres;

--
-- Name: descricoes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.descricoes_id_seq OWNED BY public.descricoes.id;


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: estoque_alerta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_alerta (
    id bigint NOT NULL,
    tipo character varying(50) NOT NULL,
    mensagem text NOT NULL,
    resolvido boolean NOT NULL
);


ALTER TABLE public.estoque_alerta OWNER TO postgres;

--
-- Name: estoque_alerta_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_alerta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_alerta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_base; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_base (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public.estoque_base OWNER TO postgres;

--
-- Name: estoque_base_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_base ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_base_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_descricao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_descricao (
    id bigint NOT NULL,
    descricao character varying(255) NOT NULL
);


ALTER TABLE public.estoque_descricao OWNER TO postgres;

--
-- Name: estoque_descricao_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_descricao ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_descricao_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_empresa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_empresa (
    id bigint NOT NULL,
    nome character varying(200) NOT NULL
);


ALTER TABLE public.estoque_empresa OWNER TO postgres;

--
-- Name: estoque_empresa_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_empresa ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_empresa_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_equipamento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_equipamento (
    id bigint NOT NULL,
    numero_serie character varying(100) NOT NULL,
    patrimonio character varying(100) NOT NULL,
    regional_id bigint NOT NULL,
    status character varying(20) NOT NULL,
    foto character varying(100),
    data_cadastro timestamp with time zone NOT NULL,
    produto_id bigint NOT NULL,
    data_aquisicao date NOT NULL,
    data_atualizacao timestamp with time zone NOT NULL,
    responsavel character varying(100) NOT NULL,
    codigo character varying(50) NOT NULL,
    qr_code character varying(100)
);


ALTER TABLE public.estoque_equipamento OWNER TO postgres;

--
-- Name: estoque_equipamento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_equipamento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_equipamento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_historico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_historico (
    id bigint NOT NULL,
    data timestamp with time zone NOT NULL,
    equipamento_id bigint NOT NULL,
    usuario_id integer NOT NULL,
    detalhes jsonb,
    tipo_acao character varying(50) NOT NULL
);


ALTER TABLE public.estoque_historico OWNER TO postgres;

--
-- Name: estoque_historico_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_historico ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_historico_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_historicotransferencia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_historicotransferencia (
    id bigint NOT NULL,
    codigo character varying(50) NOT NULL,
    descricao character varying(255) NOT NULL,
    quantidade integer NOT NULL,
    regional_origem character varying(50) NOT NULL,
    regional_destino character varying(50) NOT NULL,
    data_movimentacao timestamp with time zone NOT NULL,
    produto_id bigint,
    CONSTRAINT estoque_historicotransferencia_quantidade_03187fb8_check CHECK ((quantidade >= 0))
);


ALTER TABLE public.estoque_historicotransferencia OWNER TO postgres;

--
-- Name: estoque_historicotransferencia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_historicotransferencia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_historicotransferencia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_itemsolicitacao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_itemsolicitacao (
    id bigint NOT NULL,
    quantidade integer NOT NULL,
    quantidade_atendida integer NOT NULL,
    produto_id bigint NOT NULL,
    solicitacao_id bigint NOT NULL,
    CONSTRAINT estoque_itemsolicitacao_quantidade_atendida_check CHECK ((quantidade_atendida >= 0)),
    CONSTRAINT estoque_itemsolicitacao_quantidade_check CHECK ((quantidade >= 0))
);


ALTER TABLE public.estoque_itemsolicitacao OWNER TO postgres;

--
-- Name: estoque_itemsolicitacao_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_itemsolicitacao ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_itemsolicitacao_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_perfil; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_perfil (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    role character varying(10) NOT NULL,
    empresa_id bigint
);


ALTER TABLE public.estoque_perfil OWNER TO postgres;

--
-- Name: estoque_perfil_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_perfil ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_perfil_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_perfil_regionais; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_perfil_regionais (
    id bigint NOT NULL,
    perfil_id bigint NOT NULL,
    base_id bigint NOT NULL
);


ALTER TABLE public.estoque_perfil_regionais OWNER TO postgres;

--
-- Name: estoque_perfil_regionais_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_perfil_regionais ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_perfil_regionais_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_produto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_produto (
    id bigint NOT NULL,
    codigo character varying(50) NOT NULL,
    descricao character varying(255) NOT NULL,
    fabricante character varying(100) NOT NULL,
    modelo character varying(100) NOT NULL,
    categoria character varying(50) NOT NULL
);


ALTER TABLE public.estoque_produto OWNER TO postgres;

--
-- Name: estoque_produto_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_produto ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_produto_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_sick; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_sick (
    id bigint NOT NULL,
    motivo text NOT NULL,
    data_ocorrencia timestamp with time zone NOT NULL,
    equipamento_id bigint NOT NULL,
    categoria character varying(100) NOT NULL,
    data_resolucao timestamp with time zone,
    previsao_retorno date,
    resolvido_por_id integer,
    ativo boolean NOT NULL
);


ALTER TABLE public.estoque_sick OWNER TO postgres;

--
-- Name: estoque_sick_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_sick ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_sick_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_solicitacao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_solicitacao (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    data_aprovacao timestamp with time zone,
    aprovado_por_id integer,
    regional_origem_id bigint,
    regional_solicitante_id bigint NOT NULL,
    criado_em timestamp with time zone NOT NULL,
    criado_por_id integer,
    data_criacao timestamp with time zone,
    motivo text NOT NULL
);


ALTER TABLE public.estoque_solicitacao OWNER TO postgres;

--
-- Name: estoque_solicitacao_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_solicitacao ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_solicitacao_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estoque_transferencia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_transferencia (
    id bigint NOT NULL,
    regional_origem_id bigint NOT NULL,
    regional_destino_id bigint NOT NULL,
    status character varying(20) NOT NULL,
    data_recebimento timestamp with time zone,
    equipamento_id bigint NOT NULL,
    recebido_por_id integer,
    solicitado_por_id integer,
    solicitacao_id bigint,
    data_envio timestamp with time zone NOT NULL
);


ALTER TABLE public.estoque_transferencia OWNER TO postgres;

--
-- Name: estoque_transferencia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estoque_transferencia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.estoque_transferencia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: historico_transferencias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.historico_transferencias (
    id integer NOT NULL,
    codigo text NOT NULL,
    descricao text NOT NULL,
    quantidade integer NOT NULL,
    regional_origem text NOT NULL,
    regional_destino text NOT NULL,
    data_movimentacao timestamp without time zone NOT NULL
);


ALTER TABLE public.historico_transferencias OWNER TO postgres;

--
-- Name: historico_transferencias_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.historico_transferencias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.historico_transferencias_id_seq OWNER TO postgres;

--
-- Name: historico_transferencias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.historico_transferencias_id_seq OWNED BY public.historico_transferencias.id;


--
-- Name: produtos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.produtos (
    id integer NOT NULL,
    descricao text NOT NULL,
    codigo text NOT NULL,
    quantidade integer NOT NULL,
    regional text NOT NULL
);


ALTER TABLE public.produtos OWNER TO postgres;

--
-- Name: produtos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.produtos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.produtos_id_seq OWNER TO postgres;

--
-- Name: produtos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.produtos_id_seq OWNED BY public.produtos.id;


--
-- Name: sick; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sick (
    id integer NOT NULL,
    codigo text NOT NULL,
    descricao text NOT NULL,
    regional text NOT NULL,
    motivo text NOT NULL,
    data_ocorrencia timestamp without time zone NOT NULL
);


ALTER TABLE public.sick OWNER TO postgres;

--
-- Name: sick_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sick_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sick_id_seq OWNER TO postgres;

--
-- Name: sick_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sick_id_seq OWNED BY public.sick.id;


--
-- Name: descricoes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.descricoes ALTER COLUMN id SET DEFAULT nextval('public.descricoes_id_seq'::regclass);


--
-- Name: historico_transferencias id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historico_transferencias ALTER COLUMN id SET DEFAULT nextval('public.historico_transferencias_id_seq'::regclass);


--
-- Name: produtos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produtos ALTER COLUMN id SET DEFAULT nextval('public.produtos_id_seq'::regclass);


--
-- Name: sick id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sick ALTER COLUMN id SET DEFAULT nextval('public.sick_id_seq'::regclass);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: descricoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.descricoes (id, descricao) FROM stdin;
1	COLETOR DE DADOS MOVFAST ANDROID 8
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2026-03-31 15:17:22.735708-03	1	admin	2	[{"changed": {"fields": ["User permissions"]}}]	4	1
2	2026-03-31 16:50:54.248131-03	7	chile	2	[{"changed": {"fields": ["Staff status"]}}]	4	1
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	estoque	descricao
8	estoque	historicotransferencia
9	estoque	produto
10	estoque	sick
11	estoque	insumo
12	estoque	equipamento
13	estoque	historico
14	estoque	transferencia
15	estoque	base
16	estoque	perfil
17	estoque	alerta
18	estoque	empresa
19	estoque	solicitacao
20	estoque	itemsolicitacao
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: estoque_alerta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_alerta (id, tipo, mensagem, resolvido) FROM stdin;
\.


--
-- Data for Name: estoque_base; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_base (id, nome, empresa_id) FROM stdin;
1	S├âO PAULO	1
2	RIO DE JANEIRO	1
3	BAURU	1
4	FLORIAN├ôPOLIS	1
5	PORTO ALEGRE	1
6	CURITIBA	1
7	MARING├ü	1
8	JOINVILLE	1
9	CAMPINAS	1
10	CHILE	2
11	PERU	2
12	COLOMBIA	2
13	LONDRINA	1
14	LIMEIRA	1
15	RIBEIR├âO PRETO	1
16	SANTA ISABEL	1
\.


--
-- Data for Name: estoque_descricao; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_descricao (id, descricao) FROM stdin;
\.


--
-- Data for Name: estoque_empresa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_empresa (id, nome) FROM stdin;
1	Inventory Brasil
2	Inventory Latam
\.


--
-- Data for Name: estoque_equipamento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_equipamento (id, numero_serie, patrimonio, regional_id, status, foto, data_cadastro, produto_id, data_aquisicao, data_atualizacao, responsavel, codigo, qr_code) FROM stdin;
\.


--
-- Data for Name: estoque_historico; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_historico (id, data, equipamento_id, usuario_id, detalhes, tipo_acao) FROM stdin;
\.


--
-- Data for Name: estoque_historicotransferencia; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: estoque_itemsolicitacao; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_itemsolicitacao (id, quantidade, quantidade_atendida, produto_id, solicitacao_id) FROM stdin;
\.


--
-- Data for Name: estoque_perfil; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_perfil (id, user_id, role, empresa_id) FROM stdin;
22	22	gestor	1
1	1	admin	1
25	25	gestor	1
26	26	gestor	1
27	27	gestor	1
28	28	gestor	1
29	29	gestor	1
30	30	gestor	1
31	31	gestor	1
\.


--
-- Data for Name: estoque_perfil_regionais; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_perfil_regionais (id, perfil_id, base_id) FROM stdin;
1	25	9
2	25	3
3	25	14
4	25	15
5	26	2
6	27	16
7	28	1
8	29	6
9	30	13
10	30	7
11	31	8
12	31	4
13	31	5
\.


--
-- Data for Name: estoque_produto; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: estoque_sick; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_sick (id, motivo, data_ocorrencia, equipamento_id, categoria, data_resolucao, previsao_retorno, resolvido_por_id, ativo) FROM stdin;
\.


--
-- Data for Name: estoque_solicitacao; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_solicitacao (id, status, data_aprovacao, aprovado_por_id, regional_origem_id, regional_solicitante_id, criado_em, criado_por_id, data_criacao, motivo) FROM stdin;
\.


--
-- Data for Name: estoque_transferencia; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoque_transferencia (id, regional_origem_id, regional_destino_id, status, data_recebimento, equipamento_id, recebido_por_id, solicitado_por_id, solicitacao_id, data_envio) FROM stdin;
\.


--
-- Data for Name: historico_transferencias; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.historico_transferencias (id, codigo, descricao, quantidade, regional_origem, regional_destino, data_movimentacao) FROM stdin;
\.


--
-- Data for Name: produtos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sick; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sick (id, codigo, descricao, regional, motivo, data_ocorrencia) FROM stdin;
1	1101	COLETOR DE DADOS MOTOROLA MC-65	BAURU ­ƒçº­ƒçÀ	TELA QUEBRADA	2025-09-16 18:03:41
2	1202	COLETOR DE DADOS MOTOROLA MC-65	MARING├ü ­ƒçº­ƒçÀ	QUEBRADA (CAIU DO A├ëREO)	2025-09-16 18:16:12
3	1508	COLETOR DE DADOS MOVFAST ANDROID 8	PERU ­ƒçÁ­ƒç¬	ATUALIZA├ç├âO NECESS├üRIA	2025-09-17 16:35:49.847838
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 80, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 31, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 76, true);


--
-- Name: descricoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.descricoes_id_seq', 10, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 2, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 20, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 40, true);


--
-- Name: estoque_alerta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_alerta_id_seq', 1, false);


--
-- Name: estoque_base_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_base_id_seq', 11, true);


--
-- Name: estoque_descricao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_descricao_id_seq', 1, false);


--
-- Name: estoque_empresa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_empresa_id_seq', 2, true);


--
-- Name: estoque_equipamento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_equipamento_id_seq', 28, true);


--
-- Name: estoque_historico_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_historico_id_seq', 34, true);


--
-- Name: estoque_historicotransferencia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_historicotransferencia_id_seq', 89, true);


--
-- Name: estoque_itemsolicitacao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_itemsolicitacao_id_seq', 1, false);


--
-- Name: estoque_perfil_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_perfil_id_seq', 31, true);


--
-- Name: estoque_perfil_regionais_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_perfil_regionais_id_seq', 13, true);


--
-- Name: estoque_produto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_produto_id_seq', 35, true);


--
-- Name: estoque_sick_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_sick_id_seq', 9, true);


--
-- Name: estoque_solicitacao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_solicitacao_id_seq', 1, false);


--
-- Name: estoque_transferencia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estoque_transferencia_id_seq', 8, true);


--
-- Name: historico_transferencias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.historico_transferencias_id_seq', 10, true);


--
-- Name: produtos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.produtos_id_seq', 43, true);


--
-- Name: sick_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sick_id_seq', 3, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: descricoes descricoes_descricao_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.descricoes
    ADD CONSTRAINT descricoes_descricao_key UNIQUE (descricao);


--
-- Name: descricoes descricoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.descricoes
    ADD CONSTRAINT descricoes_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: estoque_alerta estoque_alerta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_alerta
    ADD CONSTRAINT estoque_alerta_pkey PRIMARY KEY (id);


--
-- Name: estoque_base estoque_base_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_base
    ADD CONSTRAINT estoque_base_pkey PRIMARY KEY (id);


--
-- Name: estoque_descricao estoque_descricao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_descricao
    ADD CONSTRAINT estoque_descricao_pkey PRIMARY KEY (id);


--
-- Name: estoque_empresa estoque_empresa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_empresa
    ADD CONSTRAINT estoque_empresa_pkey PRIMARY KEY (id);


--
-- Name: estoque_equipamento estoque_equipamento_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_equipamento
    ADD CONSTRAINT estoque_equipamento_codigo_key UNIQUE (codigo);


--
-- Name: estoque_equipamento estoque_equipamento_numero_serie_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_equipamento
    ADD CONSTRAINT estoque_equipamento_numero_serie_key UNIQUE (numero_serie);


--
-- Name: estoque_equipamento estoque_equipamento_patrimonio_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_equipamento
    ADD CONSTRAINT estoque_equipamento_patrimonio_key UNIQUE (patrimonio);


--
-- Name: estoque_equipamento estoque_equipamento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_equipamento
    ADD CONSTRAINT estoque_equipamento_pkey PRIMARY KEY (id);


--
-- Name: estoque_historico estoque_historico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_historico
    ADD CONSTRAINT estoque_historico_pkey PRIMARY KEY (id);


--
-- Name: estoque_historicotransferencia estoque_historicotransferencia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_historicotransferencia
    ADD CONSTRAINT estoque_historicotransferencia_pkey PRIMARY KEY (id);


--
-- Name: estoque_itemsolicitacao estoque_itemsolicitacao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_itemsolicitacao
    ADD CONSTRAINT estoque_itemsolicitacao_pkey PRIMARY KEY (id);


--
-- Name: estoque_perfil estoque_perfil_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_perfil
    ADD CONSTRAINT estoque_perfil_pkey PRIMARY KEY (id);


--
-- Name: estoque_perfil_regionais estoque_perfil_regionais_perfil_id_base_id_b2cdbf5c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_perfil_regionais
    ADD CONSTRAINT estoque_perfil_regionais_perfil_id_base_id_b2cdbf5c_uniq UNIQUE (perfil_id, base_id);


--
-- Name: estoque_perfil_regionais estoque_perfil_regionais_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_perfil_regionais
    ADD CONSTRAINT estoque_perfil_regionais_pkey PRIMARY KEY (id);


--
-- Name: estoque_perfil estoque_perfil_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_perfil
    ADD CONSTRAINT estoque_perfil_user_id_key UNIQUE (user_id);


--
-- Name: estoque_produto estoque_produto_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_produto
    ADD CONSTRAINT estoque_produto_codigo_key UNIQUE (codigo);


--
-- Name: estoque_produto estoque_produto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_produto
    ADD CONSTRAINT estoque_produto_pkey PRIMARY KEY (id);


--
-- Name: estoque_sick estoque_sick_equipamento_id_07e85d99_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_sick
    ADD CONSTRAINT estoque_sick_equipamento_id_07e85d99_uniq UNIQUE (equipamento_id);


--
-- Name: estoque_sick estoque_sick_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_sick
    ADD CONSTRAINT estoque_sick_pkey PRIMARY KEY (id);


--
-- Name: estoque_solicitacao estoque_solicitacao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_solicitacao
    ADD CONSTRAINT estoque_solicitacao_pkey PRIMARY KEY (id);


--
-- Name: estoque_transferencia estoque_transferencia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_transferencia
    ADD CONSTRAINT estoque_transferencia_pkey PRIMARY KEY (id);


--
-- Name: historico_transferencias historico_transferencias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historico_transferencias
    ADD CONSTRAINT historico_transferencias_pkey PRIMARY KEY (id);


--
-- Name: produtos produtos_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_codigo_key UNIQUE (codigo);


--
-- Name: produtos produtos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_pkey PRIMARY KEY (id);


--
-- Name: sick sick_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sick
    ADD CONSTRAINT sick_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: estoque_base_empresa_id_d851a159; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_base_empresa_id_d851a159 ON public.estoque_base USING btree (empresa_id);


--
-- Name: estoque_equ_data_ca_df5537_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_equ_data_ca_df5537_idx ON public.estoque_equipamento USING btree (data_cadastro);


--
-- Name: estoque_equ_regiona_55bdc3_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_equ_regiona_55bdc3_idx ON public.estoque_equipamento USING btree (regional_id);


--
-- Name: estoque_equ_status_fff69c_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_equ_status_fff69c_idx ON public.estoque_equipamento USING btree (status);


--
-- Name: estoque_equipamento_codigo_663b0d45_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_equipamento_codigo_663b0d45_like ON public.estoque_equipamento USING btree (codigo varchar_pattern_ops);


--
-- Name: estoque_equipamento_numero_serie_047a4a8e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_equipamento_numero_serie_047a4a8e_like ON public.estoque_equipamento USING btree (numero_serie varchar_pattern_ops);


--
-- Name: estoque_equipamento_patrimonio_3c5e9e36_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_equipamento_patrimonio_3c5e9e36_like ON public.estoque_equipamento USING btree (patrimonio varchar_pattern_ops);


--
-- Name: estoque_equipamento_produto_id_7580982e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_equipamento_produto_id_7580982e ON public.estoque_equipamento USING btree (produto_id);


--
-- Name: estoque_equipamento_regional_39bb76e0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_equipamento_regional_39bb76e0 ON public.estoque_equipamento USING btree (regional_id);


--
-- Name: estoque_historico_data_a7cd091e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_historico_data_a7cd091e ON public.estoque_historico USING btree (data);


--
-- Name: estoque_historico_equipamento_id_ede0f9a4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_historico_equipamento_id_ede0f9a4 ON public.estoque_historico USING btree (equipamento_id);


--
-- Name: estoque_historico_usuario_id_8e7adf3e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_historico_usuario_id_8e7adf3e ON public.estoque_historico USING btree (usuario_id);


--
-- Name: estoque_historicotransferencia_produto_id_6718f063; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_historicotransferencia_produto_id_6718f063 ON public.estoque_historicotransferencia USING btree (produto_id);


--
-- Name: estoque_itemsolicitacao_produto_id_a3e4c0d0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_itemsolicitacao_produto_id_a3e4c0d0 ON public.estoque_itemsolicitacao USING btree (produto_id);


--
-- Name: estoque_itemsolicitacao_solicitacao_id_12988c6d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_itemsolicitacao_solicitacao_id_12988c6d ON public.estoque_itemsolicitacao USING btree (solicitacao_id);


--
-- Name: estoque_perfil_empresa_id_c7b30315; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_perfil_empresa_id_c7b30315 ON public.estoque_perfil USING btree (empresa_id);


--
-- Name: estoque_perfil_regionais_base_id_1da23f9d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_perfil_regionais_base_id_1da23f9d ON public.estoque_perfil_regionais USING btree (base_id);


--
-- Name: estoque_perfil_regionais_perfil_id_654d97e7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_perfil_regionais_perfil_id_654d97e7 ON public.estoque_perfil_regionais USING btree (perfil_id);


--
-- Name: estoque_produto_categoria_21ca9c7f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_produto_categoria_21ca9c7f ON public.estoque_produto USING btree (categoria);


--
-- Name: estoque_produto_categoria_21ca9c7f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_produto_categoria_21ca9c7f_like ON public.estoque_produto USING btree (categoria varchar_pattern_ops);


--
-- Name: estoque_produto_codigo_1302ff28_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_produto_codigo_1302ff28_like ON public.estoque_produto USING btree (codigo varchar_pattern_ops);


--
-- Name: estoque_sick_ativo_bd0ab64b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_sick_ativo_bd0ab64b ON public.estoque_sick USING btree (ativo);


--
-- Name: estoque_sick_data_ocorrencia_4843b2c2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_sick_data_ocorrencia_4843b2c2 ON public.estoque_sick USING btree (data_ocorrencia);


--
-- Name: estoque_sick_resolvido_por_id_68c47f09; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_sick_resolvido_por_id_68c47f09 ON public.estoque_sick USING btree (resolvido_por_id);


--
-- Name: estoque_solicitacao_aprovado_por_id_9277b8a2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_solicitacao_aprovado_por_id_9277b8a2 ON public.estoque_solicitacao USING btree (aprovado_por_id);


--
-- Name: estoque_solicitacao_criado_por_id_4549d382; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_solicitacao_criado_por_id_4549d382 ON public.estoque_solicitacao USING btree (criado_por_id);


--
-- Name: estoque_solicitacao_regional_origem_id_5062f5f6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_solicitacao_regional_origem_id_5062f5f6 ON public.estoque_solicitacao USING btree (regional_origem_id);


--
-- Name: estoque_solicitacao_regional_solicitante_id_2dd1b2ef; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_solicitacao_regional_solicitante_id_2dd1b2ef ON public.estoque_solicitacao USING btree (regional_solicitante_id);


--
-- Name: estoque_transferencia_equipamento_id_d31341b6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_transferencia_equipamento_id_d31341b6 ON public.estoque_transferencia USING btree (equipamento_id);


--
-- Name: estoque_transferencia_recebido_por_id_7502e981; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_transferencia_recebido_por_id_7502e981 ON public.estoque_transferencia USING btree (recebido_por_id);


--
-- Name: estoque_transferencia_regional_destino_439f81cd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_transferencia_regional_destino_439f81cd ON public.estoque_transferencia USING btree (regional_destino_id);


--
-- Name: estoque_transferencia_regional_origem_9c341758; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_transferencia_regional_origem_9c341758 ON public.estoque_transferencia USING btree (regional_origem_id);


--
-- Name: estoque_transferencia_solicitacao_id_e06ab9dc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_transferencia_solicitacao_id_e06ab9dc ON public.estoque_transferencia USING btree (solicitacao_id);


--
-- Name: estoque_transferencia_solicitado_por_id_1047c8c7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX estoque_transferencia_solicitado_por_id_1047c8c7 ON public.estoque_transferencia USING btree (solicitado_por_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_base estoque_base_empresa_id_d851a159_fk_estoque_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_base
    ADD CONSTRAINT estoque_base_empresa_id_d851a159_fk_estoque_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.estoque_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_equipamento estoque_equipamento_produto_id_7580982e_fk_estoque_produto_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_equipamento
    ADD CONSTRAINT estoque_equipamento_produto_id_7580982e_fk_estoque_produto_id FOREIGN KEY (produto_id) REFERENCES public.estoque_produto(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_equipamento estoque_equipamento_regional_id_bf5b6b55_fk_estoque_base_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_equipamento
    ADD CONSTRAINT estoque_equipamento_regional_id_bf5b6b55_fk_estoque_base_id FOREIGN KEY (regional_id) REFERENCES public.estoque_base(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_historico estoque_historico_equipamento_id_ede0f9a4_fk_estoque_e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_historico
    ADD CONSTRAINT estoque_historico_equipamento_id_ede0f9a4_fk_estoque_e FOREIGN KEY (equipamento_id) REFERENCES public.estoque_equipamento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_historico estoque_historico_usuario_id_8e7adf3e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_historico
    ADD CONSTRAINT estoque_historico_usuario_id_8e7adf3e_fk_auth_user_id FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_itemsolicitacao estoque_itemsolicita_produto_id_a3e4c0d0_fk_estoque_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_itemsolicitacao
    ADD CONSTRAINT estoque_itemsolicita_produto_id_a3e4c0d0_fk_estoque_p FOREIGN KEY (produto_id) REFERENCES public.estoque_produto(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_itemsolicitacao estoque_itemsolicita_solicitacao_id_12988c6d_fk_estoque_s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_itemsolicitacao
    ADD CONSTRAINT estoque_itemsolicita_solicitacao_id_12988c6d_fk_estoque_s FOREIGN KEY (solicitacao_id) REFERENCES public.estoque_solicitacao(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_perfil estoque_perfil_empresa_id_c7b30315_fk_estoque_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_perfil
    ADD CONSTRAINT estoque_perfil_empresa_id_c7b30315_fk_estoque_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.estoque_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_perfil_regionais estoque_perfil_regio_perfil_id_654d97e7_fk_estoque_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_perfil_regionais
    ADD CONSTRAINT estoque_perfil_regio_perfil_id_654d97e7_fk_estoque_p FOREIGN KEY (perfil_id) REFERENCES public.estoque_perfil(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_perfil_regionais estoque_perfil_regionais_base_id_1da23f9d_fk_estoque_base_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_perfil_regionais
    ADD CONSTRAINT estoque_perfil_regionais_base_id_1da23f9d_fk_estoque_base_id FOREIGN KEY (base_id) REFERENCES public.estoque_base(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_perfil estoque_perfil_user_id_937d117c_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_perfil
    ADD CONSTRAINT estoque_perfil_user_id_937d117c_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_sick estoque_sick_equipamento_id_07e85d99_fk_estoque_equipamento_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_sick
    ADD CONSTRAINT estoque_sick_equipamento_id_07e85d99_fk_estoque_equipamento_id FOREIGN KEY (equipamento_id) REFERENCES public.estoque_equipamento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_sick estoque_sick_resolvido_por_id_68c47f09_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_sick
    ADD CONSTRAINT estoque_sick_resolvido_por_id_68c47f09_fk_auth_user_id FOREIGN KEY (resolvido_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_solicitacao estoque_solicitacao_aprovado_por_id_9277b8a2_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_solicitacao
    ADD CONSTRAINT estoque_solicitacao_aprovado_por_id_9277b8a2_fk_auth_user_id FOREIGN KEY (aprovado_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_solicitacao estoque_solicitacao_criado_por_id_4549d382_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_solicitacao
    ADD CONSTRAINT estoque_solicitacao_criado_por_id_4549d382_fk_auth_user_id FOREIGN KEY (criado_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_solicitacao estoque_solicitacao_regional_origem_id_5062f5f6_fk_estoque_b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_solicitacao
    ADD CONSTRAINT estoque_solicitacao_regional_origem_id_5062f5f6_fk_estoque_b FOREIGN KEY (regional_origem_id) REFERENCES public.estoque_base(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_solicitacao estoque_solicitacao_regional_solicitante_2dd1b2ef_fk_estoque_b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_solicitacao
    ADD CONSTRAINT estoque_solicitacao_regional_solicitante_2dd1b2ef_fk_estoque_b FOREIGN KEY (regional_solicitante_id) REFERENCES public.estoque_base(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_transferencia estoque_transferenci_equipamento_id_d31341b6_fk_estoque_e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_transferencia
    ADD CONSTRAINT estoque_transferenci_equipamento_id_d31341b6_fk_estoque_e FOREIGN KEY (equipamento_id) REFERENCES public.estoque_equipamento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_transferencia estoque_transferenci_regional_destino_id_5051128e_fk_estoque_b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_transferencia
    ADD CONSTRAINT estoque_transferenci_regional_destino_id_5051128e_fk_estoque_b FOREIGN KEY (regional_destino_id) REFERENCES public.estoque_base(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_transferencia estoque_transferenci_regional_origem_id_5f2a9061_fk_estoque_b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_transferencia
    ADD CONSTRAINT estoque_transferenci_regional_origem_id_5f2a9061_fk_estoque_b FOREIGN KEY (regional_origem_id) REFERENCES public.estoque_base(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_transferencia estoque_transferenci_solicitacao_id_e06ab9dc_fk_estoque_s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_transferencia
    ADD CONSTRAINT estoque_transferenci_solicitacao_id_e06ab9dc_fk_estoque_s FOREIGN KEY (solicitacao_id) REFERENCES public.estoque_solicitacao(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_transferencia estoque_transferenci_solicitado_por_id_1047c8c7_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_transferencia
    ADD CONSTRAINT estoque_transferenci_solicitado_por_id_1047c8c7_fk_auth_user FOREIGN KEY (solicitado_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: estoque_transferencia estoque_transferencia_recebido_por_id_7502e981_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_transferencia
    ADD CONSTRAINT estoque_transferencia_recebido_por_id_7502e981_fk_auth_user_id FOREIGN KEY (recebido_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict i6QQdgg8Nk1NvZC9LtIYxPBtY35zsXGMpCr2Xj6RK896LbmH2XPy7w1u7mFamld

