{% extends 'estoque/base.html' %}

{% block content %}

<div class="container mt-4">

    <h3>Caixa de Separação</h3>

    <hr>

    <p>Total: {{ transferencias.count }}</p>

    {% for transferencia in transferencias %}

        <div class="card mb-3">
            <div class="card-body">

                <h5>
                    Transferência #{{ transferencia.id }}
                </h5>

                <p>
                    Origem:
                    {{ transferencia.regional_origem.nome }}
                </p>

                <p>
                    Destino:
                    {{ transferencia.regional_destino.nome }}
                </p>

                <p>
                    Status:
                    {{ transferencia.status }}
                </p>

            </div>
        </div>

    {% empty %}

        <div class="alert alert-warning">
            Nenhuma transferência encontrada.
        </div>

    {% endfor %}

</div>

{% endblock %}