{% extends 'estoque/base.html' %}
{% load i18n %}

{% block content %}
<h3>{% trans "Solicitar Equipamento" %}</h3>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label>{% trans "Tipo de equipamento necessário" %}</label>
        <select name="tipo" class="form-control" required>
            <option value="COLETOR">{% trans "Coletor" %}</option>
            <option value="IMPRESSORA">{% trans "Impressora" %}</option>
            <option value="NOTEBOOK">{% trans "Notebook" %}</option>
            <option value="ROUTER">{% trans "Router" %}</option>
        </select>
    </div>

    <div class="mb-3">
        <label>{% trans "Quantidade" %}</label>
        <input type="number" name="quantidade" class="form-control">
    </div>

    <div class="mb-3">
        <label>{% trans "Motivo" %}</label>
        <textarea name="motivo" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary">
        {% trans "Enviar Solicitação" %}
    </button>
</form>

{% endblock %}