{% extends 'estoque/base.html' %}

{% block content %}
<h3>Solicitar Equipamento</h3>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label>Tipo de equipamento necessário</label>
        <select name="tipo" class="form-control" required>
            <option value="COLETOR">Coletor</option>
            <option value="IMPRESSORA">Impressora</option>
            <option value="NOTEBOOK">Notebook</option>
            <option value="ROUTER">Router</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Quantidade</label>
        <input type="number" name="quantidade" class="form-control">
    </div>

    <div class="mb-3">
        <label>Motivo</label>
        <textarea name="motivo" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary">
        Enviar Solicitação
    </button>
</form>

{% endblock %}