{% extends 'estoque/base.html' %}
{% load i18n %}

{% block content %}

<h3>{% trans "Transferência #" %}{{ transferencia.id }}</h3>

<p><strong>{% trans "Origem:" %}</strong> {{ transferencia.regional_origem.nome }}</p>
<p><strong>{% trans "Destino:" %}</strong> {{ transferencia.regional_destino.nome }}</p>
<p><strong>{% trans "Status:" %}</strong> {{ transferencia.status }}</p>

<hr>

<table class="table">
    <thead>
        <tr>
            <th>{% trans "Equipamento" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for item in itens %}
        <tr>
            <td>
                {{ item.equipamento.produto.descricao }}<br>
                <small>{{ item.equipamento.numero_serie }}</small>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>{% trans "Nenhum item na transferência" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}