{% extends 'estoque/base.html' %}
{% load i18n %}

{% block content %}
<h3>Protocolo: {{ transferencia.protocolo }}</h3>

<p><strong>{% trans "Origem:" %}</strong> {{ transferencia.regional_origem.nome }}</p>
<p><strong>{% trans "Destino:" %}</strong> {{ transferencia.regional_destino.nome }}</p>

<hr>

<table class="table table-bordered">
    {% for item in itens %}
    <tr>
        <td>{{ item.equipamento }}</td>
        <td>{{ item.quantidade }}</td>
    </tr>
    {% endfor %}
</table>

<script>
    window.print();
</script>
{% endblock %}